In [3]:
import json
import requests
import pandas as pd
import time

In [4]:
cities_full_list = pd.read_csv('list_of_city.csv')
cities_full_list

     Unnamed: 0        city        pop ctry_code
0             0    Szczecin   407811.0        PL
1             1      Zenica   164423.0        BA
2             2      Gdansk   461865.0        PL
3             3  Manchester   395515.0        GB
4             4       Kazan  1104738.0        RU
..          ...         ...        ...       ...
168         168  Kryvyy Rih   624579.0        UA
169         169       Corfu   111113.0        GR
170         170       Arhus   237551.0        DK
171         171     Tallinn   394024.0        EE
172         172      Vantaa   190058.0        FI

[173 rows x 4 columns]

In [5]:
cities_full_list.drop(['Unnamed: 0'], axis=1, inplace=True)

In [6]:
cities_full_list.head(10)

         city        pop ctry_code
0    Szczecin   407811.0        PL
1      Zenica   164423.0        BA
2      Gdansk   461865.0        PL
3  Manchester   395515.0        GB
4       Kazan  1104738.0        RU
5      Málaga   568305.0        ES
6      Gdańsk   470633.0        PL
7        Nice   338620.0        FR
8    Chisinau   635994.0        MD
9    Budapest  1741041.0        HU

In [7]:
cities1 = cities_full_list.loc[0:25,]
#cities1 = cities1.sample()
cities1

            city        pop ctry_code
0       Szczecin   407811.0        PL
1         Zenica   164423.0        BA
2         Gdansk   461865.0        PL
3     Manchester   395515.0        GB
4          Kazan  1104738.0        RU
5         Málaga   568305.0        ES
6         Gdańsk   470633.0        PL
7           Nice   338620.0        FR
8       Chisinau   635994.0        MD
9       Budapest  1741041.0        HU
10        Berlin  3426354.0        DE
11        Bergen   213585.0        NO
12       Catania   290927.0        IT
13          Oslo   580000.0        NO
14          Ruse   156238.0        BG
15    Sevastopol   464349.0        UA
16        Tirana   374801.0        AL
17  Thessaloniki   354290.0        GR
18        Geneve   183981.0        CH
19     Favoriten   201882.0        AT
20          Riga   742572.0        LV
21     The Hague   474292.0        NL
22       Luhansk   452000.0        UA
23     Frankfurt   650000.0        DE
24         Sofia  1152556.0        BG
25          Graz   222326.0        AT

In [8]:
city_list1 = list(cities1['city'])
city_list1

['Szczecin',
 'Zenica',
 'Gdansk',
 'Manchester',
 'Kazan',
 'Málaga',
 'Gdańsk',
 'Nice',
 'Chisinau',
 'Budapest',
 'Berlin',
 'Bergen',
 'Catania',
 'Oslo',
 'Ruse',
 'Sevastopol',
 'Tirana',
 'Thessaloniki',
 'Geneve',
 'Favoriten',
 'Riga',
 'The Hague',
 'Luhansk',
 'Frankfurt',
 'Sofia',
 'Graz']

In [7]:
cities2 = cities_full_list.loc[60:84,]
cities2

            city         pop ctry_code
60        Warsaw   1702139.0        PL
61      Toulouse    433055.0        FR
62       Utrecht    290529.0        NL
63      Istanbul  15840900.0        TR
64         Ibiza    159000.0        ES
65     Barcelona   1621537.0        ES
66     Reykjavik    134602.0        IS
67     Goeteborg    572799.0        SE
68      Bordeaux    231844.0        FR
69       Donetsk   1024700.0        UA
70        Kaunas    374643.0        LT
71         Turin    870456.0        IT
72        Skopje    474889.0        MK
73        Zurich    341730.0        CH
74           Nis    250000.0        FR
75      Alicante    334757.0        ES
76        Szeged    164883.0        HU
77  Zaporizhzhya    738728.0        UA
78        Zürich   1420000.0        CH
79   Floridsdorf    162779.0        AT
80       Amadora    178858.0        PT
81     Mykolayiv    483186.0        UA
82        Hrodna    317365.0        BY
83     Stuttgart    589793.0        DE
84         Olbia     60346.0        IT

In [8]:
city_list2 = list(cities2['city'])
city_list2

['Warsaw',
 'Toulouse',
 'Utrecht',
 'Istanbul',
 'Ibiza',
 'Barcelona',
 'Reykjavik',
 'Goeteborg',
 'Bordeaux',
 'Donetsk',
 'Kaunas',
 'Turin',
 'Skopje',
 'Zurich',
 'Nis',
 'Alicante',
 'Szeged',
 'Zaporizhzhya',
 'Zürich',
 'Floridsdorf',
 'Amadora',
 'Mykolayiv',
 'Hrodna',
 'Stuttgart',
 'Olbia']

In [33]:
final_city_list = pd.concat([cities1, cities2], axis=0).reset_index(drop=True)
final_city_list

            city         pop ctry_code
0       Szczecin    407811.0        PL
1         Zenica    164423.0        BA
2         Gdansk    461865.0        PL
3     Manchester    395515.0        GB
4          Kazan   1104738.0        RU
5         Málaga    568305.0        ES
6         Gdańsk    470633.0        PL
7           Nice    338620.0        FR
8       Chisinau    635994.0        MD
9       Budapest   1741041.0        HU
10        Berlin   3426354.0        DE
11        Bergen    213585.0        NO
12       Catania    290927.0        IT
13          Oslo    580000.0        NO
14          Ruse    156238.0        BG
15    Sevastopol    464349.0        UA
16        Tirana    374801.0        AL
17  Thessaloniki    354290.0        GR
18        Geneve    183981.0        CH
19     Favoriten    201882.0        AT
20          Riga    742572.0        LV
21     The Hague    474292.0        NL
22       Luhansk    452000.0        UA
23     Frankfurt    650000.0        DE
24         Sofia   1152556.0        BG
25          Graz    222326.0        AT
26        Warsaw   1702139.0        PL
27      Toulouse    433055.0        FR
28       Utrecht    290529.0        NL
29      Istanbul  15840900.0        TR
30         Ibiza    159000.0        ES
31     Barcelona   1621537.0        ES
32     Reykjavik    134602.0        IS
33     Goeteborg    572799.0        SE
34      Bordeaux    231844.0        FR
35       Donetsk   1024700.0        UA
36        Kaunas    374643.0        LT
37         Turin    870456.0        IT
38        Skopje    474889.0        MK
39        Zurich    341730.0        CH
40           Nis    250000.0        FR
41      Alicante    334757.0        ES
42        Szeged    164883.0        HU
43  Zaporizhzhya    738728.0        UA
44        Zürich   1420000.0        CH
45   Floridsdorf    162779.0        AT
46       Amadora    178858.0        PT
47     Mykolayiv    483186.0        UA
48        Hrodna    317365.0        BY
49     Stuttgart    589793.0        DE
50         Olbia     60346.0        IT

In [9]:
# Get city weather and coordinates
def get_cities_weather(cities):
    weather_dict = {
        'Country': [],
        'City' : [],
        'DateTime' :  [],
        'Main' : [],         
        'Temperature' : [], 
        'Description' : [],
        'Longitude': [],
        'Latitude': [],
        'Wind_Speed(Gust)': [],
        'Prec_Prob(%)': []
    }
    for i in cities:
        url = f"http://api.openweathermap.org/data/2.5/forecast?q={i}&appid=e7d1480b3d55f1e4ebd431370b378444&units=metric"
        my_request = requests.get(url)
        
        # wind speed and gust
        wind_speed = []
        wind_gust = []
        
        for j in my_request.json()['list']:
            weather_dict['Country'].append(my_request.json()['city']['country'])
            weather_dict['City'].append(i)
            weather_dict['DateTime'].append(j['dt_txt'])
            weather_dict['Temperature'].append(j['main']['temp'])
            weather_dict['Main'].append(j['weather'][0]['main'])
            weather_dict['Description'].append(j['weather'][0]['description'])
            weather_dict['Longitude'].append(my_request.json()["city"]["coord"]["lon"])
            weather_dict['Latitude'].append(my_request.json()["city"]["coord"]["lat"])
            weather_dict['Prec_Prob(%)'].append(j["pop"] * 100)
            wind_speed.append(j['wind']['speed'])
            wind_gust.append(j['wind']['gust'])
        
        for a in range(len(wind_speed)):
            weather_dict['Wind_Speed(Gust)'].append(f'{str(wind_speed[a])}({str(wind_gust[a])})')
        # output  
    return  pd.DataFrame(weather_dict)

In [10]:
city_weather_data1 = get_cities_weather(city_list1)
city_weather_data1

,Country,City,DateTime,Main,Temperature,Description,Longitude,Latitude,Wind_Speed(Gust),Prec_Prob(%)
0,PL,Szczecin,2022-06-15 15:00:00,Clouds,20.19,overcast clouds,14.553,53.4289,2.71(2.68),0.0
1,PL,Szczecin,2022-06-15 18:00:00,Clouds,18.45,overcast clouds,14.553,53.4289,2.33(3.87),0.0
2,PL,Szczecin,2022-06-15 21:00:00,Clouds,12.26,overcast clouds,14.553,53.4289,2.52(4.54),0.0
3,PL,Szczecin,2022-06-16 00:00:00,Clouds,11.24,overcast clouds,14.553,53.4289,1.73(1.73),0.0
4,PL,Szczecin,2022-06-16 03:00:00,Clouds,11.11,overcast clouds,14.553,53.4289,1.56(1.53),0.0
...,...,...,...,...,...,...,...,...,...,...
1035,AT,Graz,2022-06-20 00:00:00,Clouds,19.51,broken clouds,15.450,47.0667,1.23(1.3),0.0
1036,AT,Graz,2022-06-20 03:00:00,Clouds,19.01,overcast clouds,15.450,47.0667,1.47(1.76),5.0
1037,AT,Graz,2022-06-20 06:00:00,Clouds,24.39,broken clouds,15.450,47.0667,1.4(2.77),13.0
1038,AT,Graz,2022-06-20 09:00:00,Clouds,30.72,broken clouds,15.450,47.0667,0.9(1.6),0.0
1039,AT,Graz,2022-06-20 12:00:00,Clouds,32.24,broken clouds,15.450,47.0667,4.25(4.34),20.0

In [45]:
from datetime import datetime

In [48]:
time_date = datetime.now()
time_date

datetime.datetime(2022, 6, 15, 16, 22, 16, 426627)

In [54]:
type(time_date)

datetime.datetime

In [56]:
type(time_date.year)

int

In [59]:
type(datetime.now().year)

int

In [39]:
int(list(city_weather_data1[city_weather_data1['City'] == 'Graz'].DateTime[-1:].str[0:4])[0])

2022

In [41]:
int(list(city_weather_data1[city_weather_data1['City'] == 'Graz'].DateTime[-1:].str[5:7])[0])

6

In [42]:
int(list(city_weather_data1[city_weather_data1['City'] == 'Graz'].DateTime[-1:].str[8:10])[0])

20

In [63]:
city_weather_data1[city_weather_data1['City'] == city_list1[0]].DateTime[-1:]

39    2022-06-20 12:00:00
Name: DateTime, dtype: object

In [23]:
city_weather_data2 = get_cities_weather(city_list2)
city_weather_data2

,Country,City,DateTime,Main,Temperature,Description,Longitude,Latitude,Wind_Speed(Gust),Prec_Prob(%)
0,PL,Warsaw,2022-06-13 21:00:00,Rain,12.66,light rain,21.0118,52.2298,3.42(9.25),24.0
1,PL,Warsaw,2022-06-14 00:00:00,Clouds,11.94,few clouds,21.0118,52.2298,3.77(10.81),0.0
2,PL,Warsaw,2022-06-14 03:00:00,Clear,10.71,clear sky,21.0118,52.2298,3.74(10.62),0.0
3,PL,Warsaw,2022-06-14 06:00:00,Clear,13.59,clear sky,21.0118,52.2298,4.83(8.37),0.0
4,PL,Warsaw,2022-06-14 09:00:00,Rain,17.14,light rain,21.0118,52.2298,5.93(8.25),28.0
...,...,...,...,...,...,...,...,...,...,...
995,IT,Olbia,2022-06-18 06:00:00,Clouds,24.95,broken clouds,9.4856,40.9214,1.29(2.66),0.0
996,IT,Olbia,2022-06-18 09:00:00,Clouds,28.11,few clouds,9.4856,40.9214,4.14(5.89),0.0
997,IT,Olbia,2022-06-18 12:00:00,Clear,29.11,clear sky,9.4856,40.9214,4.53(5.8),0.0
998,IT,Olbia,2022-06-18 15:00:00,Clear,29.45,clear sky,9.4856,40.9214,3.17(4.68),0.0
999,IT,Olbia,2022-06-18 18:00:00,Clear,26.64,clear sky,9.4856,40.9214,1.55(2.29),0.0

In [32]:
city_weather = pd.concat([city_weather_data1, city_weather_data2], axis=0).reset_index(drop=True)
city_weather

,Country,City,DateTime,Main,Temperature,Description,Longitude,Latitude,Wind_Speed(Gust),Prec_Prob(%)
0,PL,Szczecin,2022-06-13 21:00:00,Rain,11.62,light rain,14.5530,53.4289,3.02(9.28),36.0
1,PL,Szczecin,2022-06-14 00:00:00,Clear,10.86,clear sky,14.5530,53.4289,3.97(11.23),11.0
2,PL,Szczecin,2022-06-14 03:00:00,Clear,9.29,clear sky,14.5530,53.4289,4.02(10.84),3.0
3,PL,Szczecin,2022-06-14 06:00:00,Clouds,10.77,scattered clouds,14.5530,53.4289,4.51(9.09),3.0
4,PL,Szczecin,2022-06-14 09:00:00,Rain,14.10,light rain,14.5530,53.4289,5.2(7.49),34.0
...,...,...,...,...,...,...,...,...,...,...
2035,IT,Olbia,2022-06-18 06:00:00,Clouds,24.95,broken clouds,9.4856,40.9214,1.29(2.66),0.0
2036,IT,Olbia,2022-06-18 09:00:00,Clouds,28.11,few clouds,9.4856,40.9214,4.14(5.89),0.0
2037,IT,Olbia,2022-06-18 12:00:00,Clear,29.11,clear sky,9.4856,40.9214,4.53(5.8),0.0
2038,IT,Olbia,2022-06-18 15:00:00,Clear,29.45,clear sky,9.4856,40.9214,3.17(4.68),0.0
2039,IT,Olbia,2022-06-18 18:00:00,Clear,26.64,clear sky,9.4856,40.9214,1.55(2.29),0.0

In [24]:
def get_airport_info(cities):
    
    # Search city weather and coordinates
    city_coord_lon = []
    city_coord_lat = []
    
    for i in cities:
        url = f"http://api.openweathermap.org/data/2.5/forecast?q={i}&appid=e7d1480b3d55f1e4ebd431370b378444&units=metric"
        my_request = requests.get(url)
        
        city_coord_lon.append(my_request.json()["city"]["coord"]["lon"])
        city_coord_lat.append(my_request.json()["city"]["coord"]["lat"])
        
        
    # Search cities for all airports and their relevant info e.g. icao codes and their coordinates
    list_airport_details = []
        
    for b in range(len(city_coord_lon)):
        if (b % 15) == 0:
            time.sleep(10)
        url = f"https://aerodatabox.p.rapidapi.com/airports/search/location/{city_coord_lat[b]}/{city_coord_lon[b]}/km/200/10"

        querystring = {"withFlightInfoOnly":"true"}

        headers = {
            "X-RapidAPI-Key": "37cc55d626mshb9c47b1aa8e293dp1a573fjsn2291422da356",
            "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
                  }

        response1 = requests.request("GET", url, headers=headers, params=querystring)
    
        list_airport_details.append(pd.json_normalize(response1.json()['items']))    
        
    City_Airport_list = pd.concat(list_airport_details, ignore_index=True)
    City_Airport_list['airport_id'] = City_Airport_list['location.lat'].astype(str) + City_Airport_list['location.lon'].astype(str)
    
    return City_Airport_list

In [14]:
City_Airport_list1 = get_airport_info(city_list1)
City_Airport_list1

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon,localCode,airport_id
0,EPSC,SZZ,"Goleniów, Szczecin-Goleniów Solidarność",Szczecin- Solidarność,Goleniów,PL,53.58470,14.902199,NaN,53.584714.902199
1,EDAH,HDF,Heringsdorf,Heringsdorf,Heringsdorf,DE,53.87870,14.152299,NaN,53.878714.152299
2,EDDT,TXL,"Berlin, Berlin-Tegel",-Tegel,Berlin,DE,52.55970,13.287699,NaN,52.559713.287699
3,EDDB,BER,"Berlin, Berlin Brandenburg",Brandenburg,Berlin,DE,52.35139,13.493889,NaN,52.3513913.493889
4,ETNL,RLG,"Rostock, Rostock-Laage",-Laage,Rostock,DE,53.91820,12.278300,NaN,53.918212.2783
...,...,...,...,...,...,...,...,...,...,...
157,LJLJ,LJU,"Ljubljana, Ljubljana Jože Pučnik",Jože Pučnik,Ljubljana,SI,46.22370,14.457599,NaN,46.223714.457599
158,LOWW,VIE,"Vienna, Schwechat",Schwechat,Vienna,AT,48.11030,16.569700,NaN,48.110316.5697
159,LDZA,ZAG,Zagreb,Zagreb,Zagreb,HR,45.74290,16.068798,NaN,45.742916.068798
160,LOWL,LNZ,Linz,Linz,Linz,AT,48.23320,14.187500,NaN,48.233214.1875
161,LZIB,BTS,"Bratislava, M. R. Štefánik",M. R. Štefánik,Bratislava,SK,48.17020,17.212700,NaN,48.170217.2127

In [25]:
City_Airport_list2 = get_airport_info(city_list2)
City_Airport_list2

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon,localCode,airport_id
0,EPWA,WAW,"Warsaw, Warsaw Chopin",Chopin,Warsaw,PL,52.165700,20.967100,NaN,52.165720.9671
1,EPMO,WMI,"Warsaw, Modlin",Modlin,Warsaw,PL,52.451100,20.651800,NaN,52.451120.6518
2,EPLL,LCJ,"Łódź, Łódź Władysław Reymont",Władysław Reymont,Łódź,PL,51.721900,19.398100,NaN,51.721919.3981
3,EPLB,LUZ,Lublin,Lublin,Lublin,PL,51.240276,22.713612,NaN,51.24027622.713612
4,LFBO,TLS,Toulouse-Blagnac,Toulouse-Blagnac,Toulouse-Blagnac,FR,43.629100,1.363819,NaN,43.62911.363819
...,...,...,...,...,...,...,...,...,...,...
141,LIEA,AHO,"Alghero, Alghero-Fertilia",-Fertilia,Alghero,IT,40.632100,8.290769,NaN,40.63218.290769
142,LFKJ,AJA,"Ajaccio/Napoléon Bonaparte, Ajaccio-Napoléon B...",Ajaccio-Napoléon Bonaparte,Ajaccio/Napoléon Bonaparte,FR,41.923600,8.802920,NaN,41.92368.80292
143,LFKB,BIA,"Bastia/Poretta, Bastia-Poretta",Bastia-Poretta,Bastia/Poretta,FR,42.552700,9.483730,NaN,42.55279.48373
144,LFKC,CLY,"Calvi/Sainte-Catherine, Calvi-Sainte-Catherine",Calvi-Sainte-Catherine,Calvi/Sainte-Catherine,FR,42.530800,8.793190,NaN,42.53088.79319
145,LIEE,CAG,"Cagliari, Cagliari Elmas",Elmas,Cagliari,IT,39.251500,9.054280,NaN,39.25159.05428

In [34]:
full_city_airport_list = pd.concat([City_Airport_list1, City_Airport_list2], axis=0).reset_index(drop=True)
full_city_airport_list

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon,localCode,airport_id
0,EPSC,SZZ,"Goleniów, Szczecin-Goleniów Solidarność",Szczecin- Solidarność,Goleniów,PL,53.58470,14.902199,NaN,53.584714.902199
1,EDAH,HDF,Heringsdorf,Heringsdorf,Heringsdorf,DE,53.87870,14.152299,NaN,53.878714.152299
2,EDDT,TXL,"Berlin, Berlin-Tegel",-Tegel,Berlin,DE,52.55970,13.287699,NaN,52.559713.287699
3,EDDB,BER,"Berlin, Berlin Brandenburg",Brandenburg,Berlin,DE,52.35139,13.493889,NaN,52.3513913.493889
4,ETNL,RLG,"Rostock, Rostock-Laage",-Laage,Rostock,DE,53.91820,12.278300,NaN,53.918212.2783
...,...,...,...,...,...,...,...,...,...,...
303,LIEA,AHO,"Alghero, Alghero-Fertilia",-Fertilia,Alghero,IT,40.63210,8.290769,NaN,40.63218.290769
304,LFKJ,AJA,"Ajaccio/Napoléon Bonaparte, Ajaccio-Napoléon B...",Ajaccio-Napoléon Bonaparte,Ajaccio/Napoléon Bonaparte,FR,41.92360,8.802920,NaN,41.92368.80292
305,LFKB,BIA,"Bastia/Poretta, Bastia-Poretta",Bastia-Poretta,Bastia/Poretta,FR,42.55270,9.483730,NaN,42.55279.48373
306,LFKC,CLY,"Calvi/Sainte-Catherine, Calvi-Sainte-Catherine",Calvi-Sainte-Catherine,Calvi/Sainte-Catherine,FR,42.53080,8.793190,NaN,42.53088.79319
307,LIEE,CAG,"Cagliari, Cagliari Elmas",Elmas,Cagliari,IT,39.25150,9.054280,NaN,39.25159.05428

In [26]:
def airport_weather_info():
# Obtain the coordinates of the airport to find the weather for each airport
    Airport_lon = list(City_Airport_list2['location.lon'])
    Airport_lat = list(City_Airport_list2['location.lat'])
    
    Airport_weather_dict = {
                            'airport_id': [],
                            'City.loc' : [],
                            'DateTime' : [],
                            'Temperature' : [], 
                            'Description' : [],
                            'Wind_Speed(Gust)': [],
                            'Prec_Prob(%)': []
                            }
    
    for idx in range(len(Airport_lon)):
        url = f"http://api.openweathermap.org/data/2.5/forecast?lat={Airport_lat[idx]}&lon={Airport_lon[idx]}&appid=e7d1480b3d55f1e4ebd431370b378444&units=metric"
        my_request = requests.get(url)
        
        wind_speed = []
        wind_gust = []
        airport_coord_lat = []
        airport_coord_lon = []
        
        for j in my_request.json()['list']:
            Airport_weather_dict['City.loc'].append(my_request.json()['city']['name'])
            Airport_weather_dict['DateTime'].append(j['dt_txt'])
            Airport_weather_dict['Temperature'].append(j['main']['temp'])
            Airport_weather_dict['Description'].append(j['weather'][0]['description'])
            Airport_weather_dict['Prec_Prob(%)'].append(j["pop"] * 100)
            wind_speed.append(j['wind']['speed'])
            wind_gust.append(j['wind']['gust'])
            airport_coord_lat.append(Airport_lat[idx])
            airport_coord_lon.append(Airport_lon[idx])
        
        for a in range(len(wind_speed)):
            Airport_weather_dict['Wind_Speed(Gust)'].append(f'{str(wind_speed[a])}({str(wind_gust[a])})')
            Airport_weather_dict['airport_id'].append(f'{str(airport_coord_lat[a])}{str(airport_coord_lon[a])}')
            
    Airport_weather_data = pd.DataFrame(Airport_weather_dict)
    
    return Airport_weather_data

In [16]:
Airport_weather_data1 = airport_weather_info()
Airport_weather_data1

,airport_id,City.loc,DateTime,Temperature,Description,Wind_Speed(Gust),Prec_Prob(%)
0,53.584714.902199,Marszewo,2022-06-13 21:00:00,12.99,light rain,3.01(8.55),38.0
1,53.584714.902199,Marszewo,2022-06-14 00:00:00,11.83,few clouds,3.6(10.63),12.0
2,53.584714.902199,Marszewo,2022-06-14 03:00:00,10.04,few clouds,3.78(10.09),13.0
3,53.584714.902199,Marszewo,2022-06-14 06:00:00,10.91,scattered clouds,4.49(8.4),10.0
4,53.584714.902199,Marszewo,2022-06-14 09:00:00,14.07,light rain,5.46(7.63),45.0
...,...,...,...,...,...,...,...
6475,48.170217.2127,Dvor Prebosek,2022-06-18 06:00:00,18.29,broken clouds,3.19(5.99),0.0
6476,48.170217.2127,Dvor Prebosek,2022-06-18 09:00:00,22.96,few clouds,3.05(3.29),0.0
6477,48.170217.2127,Dvor Prebosek,2022-06-18 12:00:00,25.70,few clouds,1.49(1.54),0.0
6478,48.170217.2127,Dvor Prebosek,2022-06-18 15:00:00,26.12,clear sky,1.54(2.06),0.0
6479,48.170217.2127,Dvor Prebosek,2022-06-18 18:00:00,22.11,clear sky,0.87(1.26),0.0

In [28]:
Airport_weather_data2 = airport_weather_info()
Airport_weather_data2

,airport_id,City.loc,DateTime,Temperature,Description,Wind_Speed(Gust),Prec_Prob(%)
0,52.165720.9671,Zbarz,2022-06-14 00:00:00,11.83,few clouds,3.97(10.87),0.0
1,52.165720.9671,Zbarz,2022-06-14 03:00:00,10.56,clear sky,3.96(10.68),0.0
2,52.165720.9671,Zbarz,2022-06-14 06:00:00,13.48,clear sky,5.11(8.53),0.0
3,52.165720.9671,Zbarz,2022-06-14 09:00:00,16.94,light rain,6.23(8.37),28.0
4,52.165720.9671,Zbarz,2022-06-14 12:00:00,18.39,light rain,6.95(8.53),54.0
...,...,...,...,...,...,...,...
5835,39.25159.05428,Elmas,2022-06-18 09:00:00,29.37,scattered clouds,2.23(3.01),0.0
5836,39.25159.05428,Elmas,2022-06-18 12:00:00,29.36,few clouds,6.21(5.86),0.0
5837,39.25159.05428,Elmas,2022-06-18 15:00:00,26.72,broken clouds,3.23(4.73),0.0
5838,39.25159.05428,Elmas,2022-06-18 18:00:00,26.92,scattered clouds,2.13(3.27),0.0
5839,39.25159.05428,Elmas,2022-06-18 21:00:00,21.52,clear sky,0.74(2.03),0.0

In [35]:
full_airport_weather_data = pd.concat([Airport_weather_data1, Airport_weather_data2], axis=0).reset_index(drop=True)
full_airport_weather_data

,airport_id,City.loc,DateTime,Temperature,Description,Wind_Speed(Gust),Prec_Prob(%)
0,53.584714.902199,Marszewo,2022-06-13 21:00:00,12.99,light rain,3.01(8.55),38.0
1,53.584714.902199,Marszewo,2022-06-14 00:00:00,11.83,few clouds,3.6(10.63),12.0
2,53.584714.902199,Marszewo,2022-06-14 03:00:00,10.04,few clouds,3.78(10.09),13.0
3,53.584714.902199,Marszewo,2022-06-14 06:00:00,10.91,scattered clouds,4.49(8.4),10.0
4,53.584714.902199,Marszewo,2022-06-14 09:00:00,14.07,light rain,5.46(7.63),45.0
...,...,...,...,...,...,...,...
12315,39.25159.05428,Elmas,2022-06-18 09:00:00,29.37,scattered clouds,2.23(3.01),0.0
12316,39.25159.05428,Elmas,2022-06-18 12:00:00,29.36,few clouds,6.21(5.86),0.0
12317,39.25159.05428,Elmas,2022-06-18 15:00:00,26.72,broken clouds,3.23(4.73),0.0
12318,39.25159.05428,Elmas,2022-06-18 18:00:00,26.92,scattered clouds,2.13(3.27),0.0
12319,39.25159.05428,Elmas,2022-06-18 21:00:00,21.52,clear sky,0.74(2.03),0.0

In [18]:
list(City_Airport_list1['icao'])

['EPSC',
 'EDAH',
 'EDDT',
 'EDDB',
 'ETNL',
 'EPZG',
 'EKRN',
 'EPPO',
 'LQSA',
 'LQTZ',
 'LQBK',
 'LDSB',
 'LDSP',
 'LDOS',
 'LDDU',
 'EPGD',
 'UMKK',
 'EPBY',
 'EGCC',
 'EGGP',
 'EGNM',
 'EGCN',
 'EGNX',
 'EGBB',
 'EGNJ',
 'EGNV',
 'EGOV',
 'EGNS',
 'UWKD',
 'UWKS',
 'UWKJ',
 'UWLW',
 'UWLL',
 'UWKE',
 'LEMG',
 'LEGR',
 'LXGB',
 'LEAG',
 'GECE',
 'LEJR',
 'GMTN',
 'LEZL',
 'GMTT',
 'GMTA',
 'EPGD',
 'UMKK',
 'EPBY',
 'LFMN',
 'LIMZ',
 'LFTH',
 'LIMJ',
 'LIMF',
 'LFML',
 'LUKK',
 'LRIA',
 'UKOO',
 'LRBC',
 'LHBP',
 'LZIB',
 'LHDC',
 'LZTT',
 'LOWW',
 'EDDT',
 'EDDB',
 'EDDP',
 'EPSC',
 'EDDC',
 'EDAH',
 'EPZG',
 'ETNL',
 'EDVE',
 'ENBR',
 'ENSO',
 'ENBL',
 'ENHD',
 'ENSG',
 'ENFL',
 'ENSD',
 'ENZV',
 'LICC',
 'LICB',
 'LICR',
 'LICA',
 'LMML',
 'LICJ',
 'ENGM',
 'ENTO',
 'ESST',
 'ENFG',
 'ESOH',
 'LROP',
 'LBWN',
 'LRCV',
 'LBBG',
 'UKFF',
 'LATI',
 'LWOH',
 'LYPG',
 'LYTV',
 'LGKA',
 'LWSK',
 'BKPR',
 'LIBR',
 'LDDU',
 'LGKR',
 'LGTS',
 'LGKZ',
 'LGKA',
 'LGKV',
 'LGBL',
 'LGSK',
 'LWSK',
 'LWOH',
 'LSGG',
 'LFLB',
 'LFLL',
 'LFGJ',
 'LFLS',
 'LSZB',
 'LIMF',
 'LFSB',
 'LOWW',
 'LZIB',
 'LKTB',
 'LOWG',
 'LOWL',
 'EVRA',
 'EEKE',
 'EHRD',
 'EHAM',
 'EHWO',
 'EHGR',
 'EHLE',
 'EBAW',
 'EHKD',
 'EHEH',
 'EHVK',
 'EHDL',
 'URRP',
 'EDDF',
 'EDFM',
 'EDFH',
 'EDDK',
 'EDDR',
 'EDVK',
 'EDSB',
 'EDDS',
 'EDLP',
 'EDLW',
 'LBSF',
 'LYNI',
 'LBPD',
 'LWSK',
 'LRCV',
 'BKPR',
 'LOWG',
 'LOWK',
 'LJLJ',
 'LOWW',
 'LDZA',
 'LOWL',
 'LZIB']

In [29]:
def airport_arrival(date, times):

    if len(list(City_Airport_list2['icao'])) > 1:
        icao_list = list(City_Airport_list2['icao'])
    if len(list(City_Airport_list2['icao'])) == 1:
        icao_list = City_Airport_list2['icao']
        
        #icao_list = ['ULLI', 'EKCH']

    Airport_info = []
    
    # Obtain flight information based on icao codes
    for i in range(len(icao_list)):
        # if (i > 0) & ((i % 15) == 0):
        #     time.sleep(10)
        url = f"https://aerodatabox.p.rapidapi.com/flights/airports/icao/{icao_list[i]}/{date[0]}-{date[1]}-{date[2]}T{times[0]}/{date[0]}-{date[1]}-{date[2]}T{times[1]}"

        querystring = {"withLeg":"true","direction":"Arrival","withCancelled":"false","withCodeshared":"true","withCargo":"false","withPrivate":"false","withLocation":"false"}

        headers = {
                    "X-RapidAPI-Key": "37cc55d626mshb9c47b1aa8e293dp1a573fjsn2291422da356",
                    "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
                  }

        response2 = requests.request("GET", url, headers=headers, params=querystring)
        
        if response2.status_code != 200:
            continue
        if (response2.json()['arrivals']) == []:
            continue
        
        individ_icao_info = pd.json_normalize(response2.json()['arrivals'])
        individ_icao_info['icao'] = icao_list[i]
        Airport_info.append(individ_icao_info)
     
    Airport_arrival_info = pd.concat(Airport_info, ignore_index=True).loc[:,['icao', 'status', 'departure.airport.name', 'arrival.scheduledTimeLocal', 'aircraft.model', 'airline.name']]
    # Airport_arrival_info = Airport_arrival_info[Airport_arrival_info['status'] != 'Unknown']
    
    return Airport_arrival_info

In [30]:
date = ['2022', '06', '14']       # ['Yr','Mth', 'Day']
times = ['08:00', '20:00']         # ['start-time', 'end-time'] given in 24 hours format

In [21]:
import time
Airport_arrival_data = airport_arrival(date, times)
Airport_arrival_data

,icao,status,departure.airport.name,arrival.scheduledTimeLocal,aircraft.model,airline.name
0,EPSC,Unknown,Warsaw,2022-06-14 08:20+02:00,Embraer 170,LOT - Polish
1,EPSC,Unknown,Warsaw,2022-06-14 14:40+02:00,Embraer 170,LOT - Polish
2,EPSC,Unknown,Bergen,2022-06-14 11:10+02:00,Airbus A320,Wizz Air
3,EDAH,Unknown,Luxembourg,2022-06-14 15:40+02:00,Bombardier Dash 8 Q400 / DHC-8-400,Luxair
4,EDDB,Unknown,Stockholm,2022-06-14 11:45+02:00,Airbus A320,easyJet
...,...,...,...,...,...,...
8052,LZIB,Unknown,Paphos,2022-06-14 15:45+02:00,Boeing 737-800,Ryanair
8053,LZIB,Unknown,Rodes Island,2022-06-14 16:40+02:00,Boeing 737,SmartWings
8054,LZIB,Unknown,Alghero,2022-06-14 16:30+02:00,Boeing 737-800,Ryanair
8055,LZIB,Unknown,Bergamo,2022-06-14 11:50+02:00,Boeing 737-800,Ryanair
8056,LZIB,Unknown,Dalaman,2022-06-14 12:45+02:00,Boeing 737-800,Ryanair

In [31]:
import time
Airport_arrival_data2 = airport_arrival(date, times)
Airport_arrival_data2

,icao,status,departure.airport.name,arrival.scheduledTimeLocal,aircraft.model,airline.name
0,EPWA,Expected,Helsinki,2022-06-14 08:15+02:00,Embraer 190,Finnair
1,EPWA,Expected,Istanbul,2022-06-14 08:45+02:00,Embraer 195,LOT - Polish
2,EPWA,Expected,Tel Aviv Yafo,2022-06-14 08:10+02:00,Boeing 737,LOT - Polish
3,EPWA,Expected,Munich,2022-06-14 08:35+02:00,Embraer 175,LOT - Polish
4,EPWA,Expected,Hamburg,2022-06-14 08:25+02:00,Embraer 170,LOT - Polish
...,...,...,...,...,...,...
10264,LIEE,Unknown,Brussels,2022-06-14 19:45+02:00,Boeing 737-800,Ryanair
10265,LIEE,Unknown,Bâle/Mulhouse,2022-06-14 19:15+02:00,Airbus A320,easyJet
10266,LIEE,Unknown,Madrid,2022-06-14 15:40+02:00,Boeing 737-800,Ryanair
10267,LIEE,Unknown,Venice,2022-06-14 14:40+02:00,Airbus A320,Wizz Air
10268,LIEE,Unknown,Beauvais/Tillé,2022-06-14 14:50+02:00,Boeing 737-800,Ryanair

In [36]:
full_airport_arrival_data = pd.concat([Airport_arrival_data, Airport_arrival_data2], axis=0).reset_index(drop=True)
full_airport_arrival_data

,icao,status,departure.airport.name,arrival.scheduledTimeLocal,aircraft.model,airline.name
0,EPSC,Unknown,Warsaw,2022-06-14 08:20+02:00,Embraer 170,LOT - Polish
1,EPSC,Unknown,Warsaw,2022-06-14 14:40+02:00,Embraer 170,LOT - Polish
2,EPSC,Unknown,Bergen,2022-06-14 11:10+02:00,Airbus A320,Wizz Air
3,EDAH,Unknown,Luxembourg,2022-06-14 15:40+02:00,Bombardier Dash 8 Q400 / DHC-8-400,Luxair
4,EDDB,Unknown,Stockholm,2022-06-14 11:45+02:00,Airbus A320,easyJet
...,...,...,...,...,...,...
18321,LIEE,Unknown,Brussels,2022-06-14 19:45+02:00,Boeing 737-800,Ryanair
18322,LIEE,Unknown,Bâle/Mulhouse,2022-06-14 19:15+02:00,Airbus A320,easyJet
18323,LIEE,Unknown,Madrid,2022-06-14 15:40+02:00,Boeing 737-800,Ryanair
18324,LIEE,Unknown,Venice,2022-06-14 14:40+02:00,Airbus A320,Wizz Air
18325,LIEE,Unknown,Beauvais/Tillé,2022-06-14 14:50+02:00,Boeing 737-800,Ryanair

In [37]:
import mysql
import pymysql
import sqlalchemy

In [38]:
schema="gans_data"
host="127.0.0.1"
user="root"
password="Utubeguti101"
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [39]:
full_airport_arrival_data.to_sql('airport_arrival_data', if_exists='append', con=con, index=False)

In [40]:
full_airport_weather_data.to_sql('airport_weather_data', if_exists='append', con=con, index=False)

In [41]:
full_city_airport_list.to_sql('city_airport_list', if_exists='append', con=con, index=False)

In [42]:
city_weather.to_sql('city_weather', if_exists='append', con=con, index=False)

In [43]:
final_city_list.to_sql('city_table', if_exists='append', con=con, index=False)

In [45]:
pd.read_csv('country_demography.csv').drop(['Unnamed: 0'], axis=1).to_sql('country_demography', if_exists='replace', con=con, index=False)